<%= form_with model: @food do |form| %>
  <div>
    <label for="name">料理名</label>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <label for="name">コメント</label>
    <%= form.text_area :comment %>
  </div>
  <%= form.submit "送信" %>
<% end %>