<% unless defined?(is_liked) %>
  <% is_liked = food.liked_by?(current_user) %>
<% end %>

<p id="<%= dom_id(food, :like) %>">
  <% if is_liked %>
    <%# 「いいね！」済み %>
    <%= link_to "★", food_likes_path(food), data: { turbo_method: :delete } %>
  <% else %>
    <%# 「いいね」していない %>
    <%= link_to "☆", food_likes_path(food), data: { turbo_method: :post } %>
  <% end %>
</p>